# can also specify using file name wildcard etc
*.jar
*.pdf
*.docx
*.rdata
*.vcf.gz
*.vcf
*.tsv.gz
*.DS_Store  ## MacOS product
AnnotSV_*.html  ## AnnotSV VCF visualisation file
NA12878_benchmark/AnnotSV_vis_NA12878_manta.html
NA12878_benchmark/AnnotSV_vis_NA12878_melt.html
NA12878_benchmark/AnnotSV_vis_NA12878_wham.html
NA12878_benchmark/AnnotSV_vis_NA12878_manta.html
NA12878_benchmark/AnnotSV_vis_NA12878_melt.html
NA12878_benchmark/AnnotSV_vis_NA12878_wham.html
