*.jar
*.pdf
*.docx
*.rdata
*.rhistory
*.vcf.gz
*.vcf
*.tsv.gz
*.DS_Store

# NA12878 main folder items
NA12878_benchmark/AnnotSV_vis_*.html
NA12878_benchmark/*.nb.html
NA12878_benchmark/AnnotSV_NA12878_delly_split_mode.tsv

# AnnotSV visualisation files
NA12878_benchmark/AnnotVis/*.*

# Previous version items
NA12878_benchmark/Version_previous/*.*
## back-up
NA12878_benchmark/Version_previous/Version_*/*.*
NA12878_benchmark/maestro.annot.csv
NA12878_benchmark/AnnotSV_NA12878_delly_split.tsv
